@import "tailwindcss";

/* 🔒 Remove browser password reveal & autofill icons */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  position: absolute;
  right: 0;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
::-webkit-scrollbar,
::-webkit-scrollbar{
  display: none;
}